$primary-color: #08a9c5;
$home-color: rgb(114, 1, 48);
$secondary-color: rgb(3, 48, 70);
$duration: 1s;
$background-opacity: 0.8;
$control-image: url(../dist/img/main-control-bg.jpg);
$services-radius: 10px;
$manicure-color: rgb(222, 190, 226);
$pedicure-color: rgb(235, 202, 243);
$waxing-color: rgb(216, 162, 187);
$kid-color: rgb(231, 193, 200);
@mixin btn-lines {
  width: 30px;
  height: 5px;
  margin: 0.5rem;
  background-color: $home-color;
  transition: all 2s ease;
}

// media query mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (max-width: 1380px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1380px) {
    @content;
  }
}
