* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #08a9c5;
  color: azure;
}

.art-main {
  border: 2px solid red;
  width: 70%;
  margin: 0px auto;
  display: relative;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5px 10px 5px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-branding .menu-logo {
  border-radius: 50%;
  height: 100px;
}

.menu-branding .menu-logo:hover {
  height: 110px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.menu-nav {
  list-style: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-nav .nav-item {
  padding: 0 20px;
}

.menu-nav .nav-link {
  text-decoration: none;
  color: #eee8e8;
}

.menu-nav .nav-link:hover {
  color: yellow;
  font-size: 1.2em;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

/* create slide css */
#slider {
  position: relative;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -35px;
  padding: 16px;
  color: #e70a0a;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 2em;
}

.arrow:hover {
  background-color: rgba(87, 43, 43, 0.8);
}

#arrow-right {
  right: 0px;
  border-radius: 3px 0 0 3px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.active {
  background-color: #717171;
}

.welcome {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 120px 1fr;
      grid-template-rows: 120px 1fr;
      grid-template-areas: 'box1 box1' 'box3 box2';
  margin: 30px;
}

.intro {
  text-align: center;
  padding: 0.5em;
  text-transform: capitalize;
  font-size: 3em;
  letter-spacing: 0.1em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: box1;
}

.intro-img {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: box2;
  justify-items: middle;
  width: 80%;
  margin: 0 auto;
}

.intro-img img {
  width: 100%;
  border-radius: 10px;
}

.intro-p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: box3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 90%;
  margin: 0 auto;
  font-size: 1.5em;
}

.services-home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.home-services {
  padding: 10px;
  border: 2px yellow dotted;
  border-radius: 10px;
  margin: 10px;
  font-size: 1.1em;
  text-align: center;
}

.home-services > h1,
.home-services p {
  padding: 10px;
}

.home-services > p {
  font-size: 21px;
  font-weight: 200;
}

.home-services .btn-home {
  text-align: center;
  display: block;
  margin: auto;
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
  background: transparent;
  font-size: 1em;
  text-transform: capitalize;
  font-weight: 300;
}

.home-services .btn-home:hover {
  color: red;
}

.manicure-arrow {
  text-align: center;
  width: 600px;
}

.manicure-arrow span {
  padding: 0;
  font-size: 20px;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid blue;
  display: inline-block;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  display: inline-block;
  border-right: 8px solid blue;
}

.contact {
  text-align: center;
  font-size: 3em;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  margin: 2.5em;
}

.contact > p {
  font-size: 30px;
  margin: 20px;
}

.contact > h1 {
  font-weight: 50;
  font-style: italic;
}

.footer {
  text-align: center;
}

.footer .reference {
  padding: 20px 0 30px 0;
}

.main-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  font-size: 1.4em;
}

.location > a {
  text-transform: none;
  text-decoration: none;
  color: white;
}

.location > a:hover {
  color: #eee8e8;
}

.icon > ul > li {
  padding: 10px;
}

li {
  list-style-type: none;
}

@media screen and (min-width: 1171px) {
  .menu-btn {
    display: none;
  }
}

.slides {
  display: none;
}

.slides img {
  height: 25vw;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .menu-nav {
    display: none;
  }
  .menu-btn {
    margin: 30px 25px;
  }
  .menu-btn .btn-line {
    width: 30px;
    height: 5px;
    margin: 0.5rem;
    background-color: #f1630b;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  }
  .slides {
    display: none;
  }
  .slides img {
    height: 25vw;
  }
}

@media screen and (max-width: 768px) {
  .menu-nav {
    display: none;
  }
  .menu-btn {
    margin: 30px 25px;
  }
  .menu-btn .btn-line {
    width: 30px;
    height: 5px;
    margin: 0.5rem;
    background-color: #f1630b;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  }
}
/*# sourceMappingURL=main.css.map */